In [1]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('database.sqlite')
cursor = connection.cursor()

# Tạo bảng PRODUCTS
cursor.execute("""
create table if not exists PRODUCTS (
    ID integer primary key,
    NAME text not null,
    PRICE integer not null
);
""")

In [2]:
# Insert data mới
cursor.execute("""
insert into PRODUCTS (ID, NAME, PRICE) values (1, 'Iphone 15', 18000000), (2, 'Galaxy Z-Fold 5', 30000000);
""")
connection.commit()

data = pd.read_sql_query("select * from PRODUCTS", connection)
print(data)

   ID             NAME     PRICE
0   1        Iphone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

In [3]:
# Hãy cập nhật giá mới cho Galaxy Z-Fold 5 thành 50.000.000
cursor.execute("""
update PRODUCTS 
    set PRICE = 50000000 
    where ID = 2;
""")
connection.commit()

data = pd.read_sql_query("select * from PRODUCTS", connection)
print(data)

   ID             NAME     PRICE
0   1        Iphone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

In [4]:
# Hãy xóa iPhone 15 ra khỏi CSDL
cursor.execute("""
delete from PRODUCTS 
    where ID = 1;
""")
connection.commit()

data = pd.read_sql_query("select * from PRODUCTS", connection)
print(data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000